<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="{{base}}/img/favicon.ico">
<title>{Young}ist</title>
<link rel="stylesheet" href="{{base}}/style.css" type="text/css" />
 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
 <script src="{{base}}/js/jquery.slides.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35445248-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body {% if page.class %}class="{{page.class}}"{% endif %}  onload="prettyPrint()">
<div class='header-container'>
	<a class='header-title-link' href='{{base}}/'><div class='header-title'><font style='font-size:37px;'>{</font><font style='color:#e68b24;font-weight:bold;'>young</font><font style='font-size:37px;'>}</font>ist<!-- logo --></div></a>
	<div class='header-about'>ABOUT</div>
	<div class='header-feeds'>MY FEEDS</div>
</div>
<body>
{{content}}
</body>
</html>