---
layout: default
---
<div class='main-content'>
        <div class='body-post'>
			<div class='image-feeds'>
				<!-- Images will eventually all be put on flickr -->
				{% if page.position == "staff" %} <!-- MUST BE IN ARTICLE POST NOT CONTRIB POST -->
				<div>huzzah</div>
				{% endif %}
				{% if page.imagetype == "link" %}
				<img id='main-image'src="{{page.image}}" height=400px; />
				{% else %}
				<img id='main-image'src="{{site.baseurl}}/img/{{page.image}}" height=400px;/>
				{% endif %}
				<div class='larger tags'>
					<ul class="tag_list">
					{% for tag in page.tags %}
						<li class="tags"><a class="tag_list_link" href="{{site.baseurl}}/tag/{{ tag }}/">{{ tag }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<script>
			window.onload = function() {
			var img = document.getElementById('main-image'); 
			var width = img.clientWidth;
			console.log(width);
			var paddingFill = 900 - width;
			console.log(paddingFill);
			var padding = paddingFill + "px";
			//assign padding value according toimage width
			document.getElementById('main-image').style.paddingRight=padding;
			}
			</script>
			<div class='buffer'></div>
			<div class='text'>
				<div class='contributor-info'>
							<div class='circular'></div>
							{% for contributor in page.contributors %}
							<a href="{{site.baseurl}}{{page.name}}"><h3 class='contributor-name'>{{ contributor }}</h3></a> 
							<!-- {{page.position}} + '-' split by space {{page.contributors}}  {{ "a~b" | split:~ }} #=> ['a','b'] and then join all by '-' -->
							<p>{{ contributor | downcase | replace:' ','-' }}</p>
							{% endfor %}
							<img class='twitter' src="{{site.baseurl}}/img/twitter-bird-light-bgs.png"/>
							<img class='facebook' src="{{site.baseurl}}/img/FB-f-Logo__blue_29.png"/>
				</div>
			<div class='article-title-container'>
				<h1 class='article-title'>{{ page.headline }}</h1>
			</div>
			{{ content }}
		</div>
		</div>		
		<div class='related-title'>RELATED ARTICLES</div>
		<div class='container-related'>
				<div class='left-nav-triangle'></div>
					<div class='all-related-articles'>
						{% for post in site.categories.mustread limit:3 %}
						{% if forloop.index != 3 %}
						<a class='no-tag-link' href='{{site.baseurl}}/{{post.url}}/'><div class='related-article-image'><h3 class='related-article-title'>{{ post.title }}</h3>
						</div></a>
						{% endif %}
						{% if forloop.index == 3 %}
						<a class='no-tag-link' href='{{site.baseurl}}/{{post.url}}/'><div class='last-block related-article-image'><h3 class='related-article-title'>{{ post.title }}</h3></div></a>
						{% endif %}
						{% endfor %}
					</div>
				<div class='right-nav-triangle'></div>
		</div>
		
</div>